@import url(../css/baseHU.css);
@import url(../css/navbarHU.css);
@import url(../scss/component.scss);
@import url(../css/footerHU.css);
/*mobil*/
@media only screen and (max-width: 575px) {
    h1 {
        color: var(--sarga);
        font-size: 3rem;
        margin-top: 10rem;
        text-align: center;     
     }

    .blog-container {
        margin-top:15rem;
        padding: 0 1.5rem;   
     }

    .carousel-inner {
      overflow: visible;
      margin: auto;
      }
        
    .card-blog {
        border: 3px solid var(--sarga);
        border-radius: 10px;
        background-color: var(--szurke1);
        height: auto; /* Példa méret a szürke konténernek */
        width: 90%; /* Példa szélesség a szürke konténernek */
        margin: 2rem auto; /* A konténer középre igazítása */
        position: relative; /* Relatív pozícionálás a tartalom igazításához */
        overflow: visible; /* Csak a konténeren belül látható részek jelennek meg */
    }

    .card-body {
      margin-top: -6rem;
    }

    /*blog kepe*/
    .blog-img {
        position: relative; /* Módosítás: relatív pozíció */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%; /* Módosítás: relatív szélesség */
        max-width: 100%; /* Módosítás: relatív maximális szélesség */
        border: 3px solid var(--kek);
        border-radius: 10px;
    }

    /*blog cim*/
    .card-title {
        color: var(--kek);
       
    }

    .admin-info {
        display: flex;
        justify-content:space-around; /* Elemek elosztása az elérhető területen belül */
        align-items: center; /* Elemek függőleges középre igazítása */
        padding: 1rem;
      }

    /*blog bejegyzes*/
    .card-blog p {
        margin: 2rem;
        position: relative; /* Relatív pozícionálás a tartalom igazításához */
        z-index: 1; /* A szöveg a kép alatt jelenjen meg */
    }

    /*bejegyzes,tovbb olvas gomb,cim*/
    .card-blog p,
    .card-blog .blog-btn,
    .card-title {
        text-align: center; /* Módosítás: szöveg középre igazítása */

    }

    .blog-btn {
        width: 80%; /* Példa: a gomb szélessége 80%-os a szülő elemhez viszonyítva */
        display: block; /* Módosítás: gomb blokk elemmé alakítása */
        margin: 0 auto; /* Módosítás: gomb középre igazítása */
        border: 3px solid var(--kek);
        border-radius: 5px;
        color: var(--sarga);
        background-color: transparent;
        font-size: 1rem;
        padding: 0.5rem;
    }

    /*blog iro kepe*/
    .blog1-admin {
        width: 15%;
        height: auto;
        border: 3px solid var(--sarga);
        border-radius: 50%;
      }

     
      .blog-date {
        color: var(--kek);
      }
      
    .card-text {
        color: var(--sarga); 
    }
  
    /*blog feltolto neve,datum*/
    .admin-text {
        color: var(--kek);
        font-size: 90%;
        margin-right: auto; /* A "Bye Bertha Dougless" és a dátum jobbra igazítása */
      }

    
   
    .carousel-control-prev,
    .carousel-control-next {
        position: absolute;
        top: -5%;
        transform: translateY(-50%);
        font-size: 3rem;
        z-index: 1; /* A nyílak a kép felett legyenek */
        cursor: pointer;
        color: var(--sarga);
        margin:0 -1rem;
    }

    /*--------MODAL-----------------*/
    .modal-header{
      background-color: var(--szurke1);
      margin: 0;
      padding: 0;
    }

   

  /*kep*/
   .modal-ai {
    width: 100%;
    height: 100%;
    clip-path: polygon(1% 1%, 100% 0%, 100% 49%, 0 100%);
   }

   .modal-title-container{
    background-color: var(--szurke1);
   }

  /*ai fold alatt is cim*/
   .modal-title {
    margin-top: 1rem;
    text-align: center;
    color: var(--kek);
   }

   .modal-body {
    background-color: var(--szurke1);
   }

   .modal-body p{
    color: var(--sarga);
   }

  .modal-img__icons {
    color: var(--sarga);
    font-size: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
  }



    /*footer*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

}