@import url(./baseHU.css);
@import url(./navbarHU.css);
@import url(../scss/component.css);
@import url(./footerHU.css);
/*mobil*/

@media only screen and (max-width: 575px) {
        /*elso section*/
        body {
            background-color: var(--szurke3);
           
        }
    .portfolio-section {
        margin-top: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .portfolio-h1 {
        color:var(--sarga);
        margin-top: 7rem;
        text-align: center;
    }

    /*logo kep*/
    .portfolio-logo {
       width: 100%;
       padding: 0 1rem;
       margin-top: -1rem;
       
    }

    /*portfolio letoltes gomb*/
    .portfolio-download__btn {
        margin-top: 3rem;
        padding: 0.3rem 1rem;
        border: 3px solid var(--kek);
        border-radius: 10px;    
        background-color: var(--sarga);
    }

    /*portfolio letoltes alatti szoveg*/
    .portfolio-first__p{
        color: var(--sarga);
        text-align: center;
        margin-top: 1rem;
    }

    /*rolunk section*/
    .portfolio-about{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 3px solid var(--sarga);
        border-radius: 10px;
        background-color: var(--szurke3);
        color: var(--sarga);
        padding: 1rem;
        margin: 1rem;
        text-align: center;
    }

    /*rolunk cim*/
    .portfolio-about h2 {
        color: var(--sarga);
    }

    /*portfolio szolgaltatasok h2*/
    .portfolio-szolgaltatasok h2 {
        color: var(--sarga);
        text-align: center;
    }

    /*szolgaltatasok bekezdes*/
    .portfolio-szolgaltatasok p {
        color: var(--feher);
        text-align: center;
        margin: 1rem;
        padding: 0 1rem;
    }

    /*---------carousel---------------*/
    .portfolio-carousel {
        margin: 1rem;
        padding-bottom: 5rem;
      
    }

    /*kartyak*/
    .services-card {
        width: calc(50% - 5px); /* 50% - 5px, hogy két kártya elférjen egymás mellett */
        margin-bottom: 20px; /* Térköz a kártyák között */
        border: 3px solid black; /* 3px fekete keret */
        background-color: var(--szurke3);
        border-radius: 10px;
        box-sizing: border-box; /* A margin is számítson a kártya szélességébe */        
    }
/*service cards,mas classal,hogy ne hasson a homehtml-be talalhato kartyakra*/
    /*kartyak hattere*/
    .portfolio-service {
        height: 270px;
        width: 70%;
        border: 3px solid var(--kek);
        background-color:var(--atlatszo);
        
    }


    /*hatszog*/
    .services-hexagon {
        position: relative;
        width: 60px; /* Átméretezheted igényeid szerint */
        height: 34.64px; /* Átméretezheted igényeid szerint */
        background-color: var(--sarga); /* Szín igény szerint */
        margin: 17.32px auto; /* Középre igazítás */
        margin-top: 2rem;
    }

    .services-hexagon:before,
    .services-hexagon:after {
      content: "";
      position: absolute;
      width: 0;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
    }

    .services-hexagon:before {
      bottom: 100%;
      border-bottom: 17.32px solid var(--sarga); /* Szín igény szerint */
    }

    .services-hexagon:after {
      top: 100%;
      width: 0;
      border-top: 17.32px solid var(--sarga); /* Szín igény szerint */
    }


    /*kartyaba az ikon*/
    .services-icon{
        width: 35px;
        height: auto;
    }

    .services-line {
        height: 2px;
        width: calc(90% -10px);
        background-color: var(--sarga);
        margin: 1rem;
    }

    /*katyakban levo szoveg*/
    .services-text {
        text-shadow: 3px 3px 3px var(--fekete);

    }

    .services-card p{
        font-size: 0.7rem;
        letter-spacing: 2px;
    }
    .services-text,
    .services-card p {
        color: var(--feher);
        text-align: center;
        padding: 0.5rem;
        max-width: calc(100% - 10px);; /* A konténer szélességéből levonjuk a paddingot */
        margin: auto; /* Középre igazítás */
        overflow-wrap: break-word;
        hyphens: auto; 
    }

    /*carousel elemek kozepre igazitasA*/
    .carousel-item {
        left: 15%;
    }
/* carousel indikatorok */
    .carousel-indicators {
        position: absolute;
        bottom: -5rem; 
    }

    .carousel-indicators [data-bs-target] {
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 10px;
        height: 10px;
        padding: 0;
        margin-right: 0.5rem;
        border: 3px solid var(--sarga); /* Alapértelmezett keret átlátszó */
        cursor: pointer;
        background-color:transparent;
        border-radius: 50%; /* Kör alakú */
      }
      
      .carousel-indicators [data-bs-target].active {
        background-color: var(--kek); /* Aktív indikátor kitöltése */
        border-color: var(--sarga); /* Aktív indikátor kerete */
      }

      /*nyilak*/
      .portfolio-arrow {
        position: absolute;
        top: 119%;
        transform: translateY(-50%);
        z-index: 1; /* A nyílak a kép felett legyenek */
        cursor: pointer;
        color: var(--sarga);
        margin:0 1rem;
      }

      .carousel-background {
       background-color:var(--szurke1);
       border-radius: 10px;
       margin-top: 2rem;
       width: 100%;
       height: 45px;
      }
      
      /*service cards bekezdes*/
      .carousel-inner .portfolio-services__p {
        color: var(--kek);
      }

      /*-------------------MUNKAMODSZER-------------*/
      .work-progress__portfolio{
        border: 3px solid var(--sarga);
        border-radius: 10px;
        margin: 1.5rem;
        padding: 2rem 0;
        background-color: rgba(54, 53, 53, 0.8);
      }
      /*cim*/
      .work-progress__h2 {
        color: var(--sarga);
        text-align: center;
        margin-top: -3rem;
      }

      .work-progress__portfolio h3 {
        color: var(--sarga);
      }

      /*hatszog*/
    .portfolio-hexagon {
      position: relative;
      width: 60px; /* Átméretezheted igényeid szerint */
      height: 34.64px; /* Átméretezheted igényeid szerint */
      background-color: var(--szurke3); /* Szín igény szerint */
      margin: 17.32px auto; /* Középre igazítás */
      margin-top: 2rem;
    }

    .portfolio-hexagon:before,
    .portfolio-hexagon:after {
      content: "";
      position: absolute;
      width: 0;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
    }

    .portfolio-hexagon-inner {
      position: relative;
      z-index: 1;
      border: 2px solid var(--szurke3); /* Keret szélessége és színe */
    }

    .portfolio-hexagon:before {
      bottom: 100%;
      border-bottom: 17.32px solid var(--szurke3); /* Szín igény szerint */
    }

    .portfolio-hexagon:after {
      top: 100%;
      width: 0;
      border-top: 17.32px solid var(--szurke3); /* Szín igény szerint */
    }

    /*hatszogben a szamok*/
    .portfolio-hexagon p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: var(--sarga);
    }

    /*hatszog alatti leiras*/
    .portfolio-hexagon__description {
        text-align: center;
    }

    /*------------STACK--------------------*/
    /*skillset*/
    .stack-h2 {
        color: var(--kek);
        text-align: center;
    }

    .portfolio-stack__section{
        margin: 1.5rem;
        box-sizing: border-box;
    }

    .stack-line {
        height: 2px;
        width: calc(90% - 10px);
        background-color: var(--sarga);
        margin: 1rem;
    }

    .portfolio-stack__section h3,
    .portfolio-stack__section p {
        color: var(--kek);
    }

    .portfolio-skillset {
        text-align: center;
        border: 3px solid var(--sarga);
        border-radius:10px;
        padding-top: 1rem;
        background-color: var(--atlatszo);
    }
    /*support team*/
    .support-team {
        text-align: center;
        border: 3px solid var(--kek);
        border-radius: 10px;
        margin-top: 2rem;
        padding-top: 1rem;
        background-color: var(--atlatszo);
    }

    .support-team h3,
    .support-team p {
        color: var(--sarga);
    }

    /*------GYAKRAN HASZNALT------*/
    .framework-carousel{
        margin: 1rem;    
    }

    .framework-carousel h2{
        color: var(--sarga);
        text-align: center;
        margin: 0 1rem;
    }

  
/*carousel cards*/
.portfolio-stack__card {
    border-radius: 10px;
    text-align: center;
    border: 3px solid var(--sarga);
    width: 75%;
    height: 700px;
    background-color: var(--atlatszo);
    margin: 1rem 0;  
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* A tartalom elosztása az elérhető helyen belül */
}

.portfolio-stack__card p {
    color: var(--kek);
    margin: 0.5rem 0; /* Egyenlő távolság a szövegek között */
}

    /*nyilak*/
    .framework-arrow {
        position: absolute;
        top: 107.5%;
        transform: translateY(-50%);
        z-index: 1; /* A nyílak a kép felett legyenek */
        cursor: pointer;
        color: var(--sarga);
        margin:0 1rem;

    }
        
  /*---leggygakrabban megrendelt szolgaltatasok----*/
    .common-services {
        margin: 1rem;
    }

    .common-h2 {
        color: var(--sarga);
        text-align: center;
    }
/*carousel kartyak*/
    .portfolio-common__card {
        border-radius: 10px;
        text-align: center;
        border: 3px solid var(--kek);
        width: 75%;
        height: 250px;
        background-color: var(--atlatszo);
        margin: 1rem 0;  
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
      
    }

    .portfolio-common__card h4 {
        color: var(--kek);
        margin-top: 0.5rem;
        font-size: 1.5rem;
    }

    .common-line {
        height: 2px;
        width: calc(90% - 10px);
        background-color: var(--sarga);
        margin: 1rem;
    }

    .portfolio-common__card p {
        color: var(--sarga);
        overflow: scroll;
        text-align: center;
        padding: 0.5rem;
    }
/*------------PARTNEREK-----------*/
    .portfolio-partners__section {
        background-color: var(--atlatszo);
        border-radius: 10px;
        margin: 1rem;
        padding-bottom: 2.5rem;
    }

    .carousel-inner__partner {
        left: -15%;
    }
  
    .first-page__partners h2{
        font-size: 2rem;
        color: var(--sarga);
        text-align: center;
        margin: 2rem;
        padding: 2rem;
    }
    
    .first-page__partner-p {
        margin: 2rem;
        padding-top: 2rem;
        text-align: center;
        color: var(--feher);
    }
    
    .first-page__partner-p strong  {
        color: var(--sarga);
    }
    /*tovabbi partner btn*/
    .tovabbi-partner__btn {
        border: 3px solid var(--kek);
        border-radius: 10px;
        background-color:transparent;
        color: var(--sarga);
        width: 80%;
        padding: 0.5rem 1rem;
        cursor: pointer;
    }

    /*---partnerek modal----*/
    .modal-content {
        background-color: var(--szurke1);
    }
    /*feher csik eltuntetese felul*/
    .modal-header {
     border-bottom: 3px solid var(--sarga);
    }
    /*alul*/
    .modal-footer {
        border-top: 3px solid var(--sarga);
    }
    
    .modal-content h5 {
        color: var(--sarga);
        margin: auto;
    }
    
    .modal-body {
        margin: 1rem;
        display: flex;
        justify-content: space-between; /* Oszlopok közötti egyenletes elosztás */
        flex-wrap: wrap; /* Több sorba kerülés */
    }
    
    .modal-body .modal-image {
        width: calc(50% - 10px); /* Képek 50%-a, 10px margó az oszlopok között */
        margin-bottom: 20px; /* Alulra margó a sorok között */
    }
    /*modal footer es btn*/
    .modal-footer {
        display: flex;
        justify-content: center; /* Bezárás gomb középre igazítása */
    }
    
    
    .modal-partner__btn {
        color: var(--sarga);
        border: 3px solid var(--kek);
        padding: 0.5rem 2rem;
        background-color: transparent;
    }
   
/*----------------PROJEKTEK---------------*/
    .portfolio-projects {
        margin: 1rem;
    }  

    .portfolio-projects h2 {
        color: var(--sarga);
        text-align: center;
        margin: 2rem 0;
      }
/*kartyak*/
      .project-page__card {
        background-color: var(--atlatszo);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 1rem;
        padding: 1rem; 
        position: relative;
        left: -15%;
        height: 500px;
        
      }

      .project-page__card-p{
        color: var(--feher);
        margin-top: 1rem;
        height: 200px;
        overflow: scroll;

      }

      .project-cards__line {
        height: 2px;
        width: calc(90% - 10px);
        background-color: var(--sarga);
        margin: 1rem;
      }

      .project-btn__arrow {
        position: absolute;
        top: 110.5%;
        transform: translateY(-50%);
        z-index: 1; /* A nyílak a kép felett legyenek */
        cursor: pointer;
        color: var(--sarga);
        margin:0 -1rem;
      }

   /* TODO:kidolgozas alatt*/
   /*   .indicators3 {
        position: absolute;
        bottom: -5rem; 
    }

    .indicators3 [data-bs-target] {
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 10px;
        height: 10px;
        padding: 0;
        margin-right: 0.5rem;
        border: 3px solid var(--sarga); 
        cursor: pointer;
        background-color:transparent;
        border-radius: 50%; 
      }
      
      .indicators3 [data-bs-target].active {
        background-color: var(--kek); 
        border-color: var(--sarga); 
      }
 */  


/*------------SUGGESTION------------------*/
      .suggestion {
        margin-top: 5rem;
      }

      .suggestion h2 {
        color: var(--sarga);
        text-align: center;
      }

      /*idezetek*/
      .quote-card {
            color: var(--feher);
            border: 3px solid var(--kek);
            border-radius: 10px;
            padding: 1rem;
            text-align: center;
            height: 200px;
            overflow: scroll;
        }
       
      
        .quote-line {
            height: 2px;
            width: calc(90% - 10px);
            background-color: var(--sarga);
            margin: 1rem;
        }
        
        .first-quote__text {
            color: var(--sarga);
            font-size: 0.8rem;
            text-align: end;
        }

        /*-----------next project session--------*/
     

        .next-project h2 {
            color: var(--sarga);
            text-align: center;
        }

        .where h3 {
            color: var(--kek);
            font-size: 1rem;
            text-align: center;
        }

        .where ul {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .where i {
            font-size: 2rem;
        }
        .where li {
            color: var(--feher);
            margin: 1rem;
         
        }

        /*nevjegy*/
        .name-card {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        .name-card h3 {
            color: var(--sarga);
            text-align: center;
        }

        .name-card img {
            width: 80%;
            margin: 1rem;
            border: 3px solid var(--szurke1);
            border-radius: 5px;
        }


      }
        